<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<form action="/Add" method="post">
    <table>
        <tr>
            <td>书籍名称</td>
            <td><input type="text" name="bookName"></td>
        </tr>
        <tr>
            <td>书籍价格</td>
            <td><input type="text" name="bookPrice"></td>
        </tr>
        <tr>
            <td>作者</td>
            <td><input type="text" name="author"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
</body>
</html>